@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.navbar {
    background-color: rgb(230, 216, 20);
}

.buttons    {
    position: absolute;
    top: 1em;
    right: 14em;
}
.login  {
    padding: 10px;
    margin: 0.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.register   {
    padding: 10px;
    margin: 0.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo   {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search {
    white-space: nowrap;
    position: relative;
    display: inline-block;
}

.homesearch {
    text-align: center;
    padding: 3em;
}

.hero {
    background-color: #f7dc6f;
  }
  
  
  h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
  }
  
  /* Use typography */
  
  h1 {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #333;
  }
  
  h2 {
    font-size: 36px;
    font-weight: bold;
    color: #4CAF50;
  }
  
  p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
  }
  
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
    
  nav {
    flex: 1;
  }
  
  nav ul {
    display: flex;
    justify-content:space-between;
    margin-right: 2em;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    font-weight: bold;
  }
  
  
  .search input[type="text"] {
    background-color: #fff;
    color: #333;
  }
  
  .search button[type="submit"] {
    background-color: #53be15;
    color: #fff;
    transition: all 0.2s ease;
  }

  
  /* Main styles */
  main {
    margin-top: 50px;
    margin-left: 20px;
  }
  
  .hero {
    background-color: #f5f5f5;
    padding: 100px 20px;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 36px;
    margin-top: 0;
  }
  
  .hero p {
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  .cta {
    background-color: #333;
    border: none;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .cta:hover {
    background-color: #666;
  }
  
  .stats {
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    padding: 60px 20px;
  }
  
  .stat {
    text-align: center;
  }
  
  .stat h2 {
    font-size: 48px;
    margin-top: 0;
  }
  
  .stat p {
    font-size: 24px;
  }

